apiVersion: v1
kind: Service
metadata:
  name: users-service
  namespace: project-submission-portal
  labels:
    app: users-service
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  selector:
    app: users-service
