uploads/
infra/
k8s/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/
win-venv/

# OS junk
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Tests & coverage
tests/
.coverage
htmlcov/
.pytest_cache/

# IDE configs
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Not needed for containers
*.log
*.sqlite3
