apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: paper-submission-portal
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: h20240192/ss_g527.paper-submission-portal@sha256:ae04c6b76b0acc67f3bd445a5963a496ca13cf358827e3c24738b5aa4494f783
          imagePullPolicy: Always
          ports:
            - containerPort: 8005
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
