apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: paper-submission-portal
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: h20240192/ss_g527.paper-submission-portal@sha256:df3d7a3ee81ab2fdb230215e90e761df1a09bd8ee69a00673c92691cc38d9f19
          imagePullPolicy: Always
          ports:
            - containerPort: 8005
          env:
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: LOG_LEVEL
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
