apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: project-submission-portal
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 8003
    targetPort: 8003
    protocol: TCP
    name: http
  selector:
    app: notification-service
