apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  namespace: paper-submission-portal
  labels:
    app: analytics-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
        - name: analytics-service
          image: h20240192/ss_g527.paper-submission-portal@sha256:1c6336982d5f7e23c0de8b6f333c47cd6edd31c61f3243788321e6ca4b50f88c
          imagePullPolicy: Always
          ports:
            - containerPort: 8004
          env:
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: LOG_LEVEL
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
