apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: paper-submission-portal
  labels:
    app: analytics-service
spec:
  type: ClusterIP
  ports:
  - port: 8004
    targetPort: 8004
    protocol: TCP
    name: http
  selector:
    app: analytics-service
