apiVersion: v1
kind: Service
metadata:
  name: submission-service
  namespace: project-submission-portal
  labels:
    app: submission-service
spec:
  type: ClusterIP
  ports:
  - port: 8005
    targetPort: 8005
    protocol: TCP
    name: http
  selector:
    app: submission-service
