apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: project-submission-portal
  labels:
    app: gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: paper-submission-portal/gateway:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: LOG_LEVEL
        - name: USERS_SERVICE_URL
          value: "http://users-service:8001"
        - name: ANALYTICS_SERVICE_URL
          value: "http://analytics-service:8002"
        - name: NOTIFICATION_SERVICE_URL
          value: "http://notification-service:8003"
        - name: PLAGIARISM_SERVICE_URL
          value: "http://plagiarism-service:8004"
        - name: SUBMISSION_SERVICE_URL
          value: "http://submission-service:8005"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
