apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: paper-submission-portal
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: h20240192/ss_g527.paper-submission-portal@sha256:92639e10f1afaebd8e722d3e79bc0950d26487ea1529240c114eeb685ede66f6
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: LOG_LEVEL
            - name: USERS_SERVICE_URL
              value: "http://users-service:8001"
            - name: SUBMISSION_SERVICE_URL
              value: "http://submission-service:8002"
            - name: PLAGIARISM_SERVICE_URL
              value: "http://plagiarism-service:8003"
            - name: ANALYTICS_SERVICE_URL
              value: "http://analytics-service:8004"
            - name: NOTIFICATION_SERVICE_URL
              value: "http://notification-service:8005"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
