apiVersion: v1
kind: Service
metadata:
  name: plagiarism-service
  namespace: project-submission-portal
  labels:
    app: plagiarism-service
spec:
  type: ClusterIP
  ports:
  - port: 8004
    targetPort: 8004
    protocol: TCP
    name: http
  selector:
    app: plagiarism-service
