apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability
data:
  prometheus.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        orgId: 1
        url: http://kube-prometheus-stack-prometheus:9090
        isDefault: true
        version: 1
        editable: true
        jsonData:
          timeInterval: 15s

  loki.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        orgId: 1
        url: http://loki-stack:3100
        isDefault: false
        version: 1
        editable: true
        jsonData:
          maxLines: 10000
