name: Build and Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'services/**'
      - 'libs/**'
      - 'config/**'
      - 'requirements.txt'
      - '.github/workflows/build-and-push.yml'

env:
  DOCKER_REGISTRY: h20240192/ss_g527.paper-submission-portal

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        service:
          - users_service
          - gateway
          - analytics_service
          - notification_service
          - plagiarism_service
          - submission_service
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker image
        run: |
          docker build \
            -f ./services/${{ matrix.service }}/Dockerfile \
            -t ${{ env.DOCKER_REGISTRY }}:${{ matrix.service }}-${{ github.sha }} \
            -t ${{ env.DOCKER_REGISTRY }}:${{ matrix.service }}-latest \
            .
      
      - name: Push Docker image
        run: |
          docker push ${{ env.DOCKER_REGISTRY }}:${{ matrix.service }}-${{ github.sha }}
          docker push ${{ env.DOCKER_REGISTRY }}:${{ matrix.service }}-latest
      
      - name: Output image
        run: |
          echo "Image pushed: ${{ env.DOCKER_REGISTRY }}:${{ matrix.service }}-${{ github.sha }}"
          echo "Image pushed: ${{ env.DOCKER_REGISTRY }}:${{ matrix.service }}-latest"
